table, td {
            border: 1px dashed;
        }
        td {
            border-color: grey;
        }
        caption {
            font-weight: 600;
            font-size: 24px
        }
        span {
            display: block;
        }
.right-part {
    text-align: right;
}
table {
    width: 45%;
}
td input[type="number"]:nth-child(1){
    width: 160px;
}